.contenedorItem {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.productDetail {
  display: flex;
  flex: 1;
  gap: 30px;
  padding: 40px;
}

.descriptionDetail {
  display: flex;
  flex-direction: column;
}

.productName {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 0px;
}
.productDescription {
  margin-top: 10px;
  max-width: 320px;
  font-weight: 100;
  text-align: justify;
  color: #333;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}
.productPrice {
  font-size: 26px;
  font-style: normal;
  color: #009fe3;
}

.imageDetail {
  max-width: 50%;
}

.imageDetail img {
  display: block;
  width: 100%;
}

.lineSlim {
  width: 100%;
  margin: 5px;
  color: black;
  opacity: 0.3;
}

@media (max-width: 768px) {
  .productDetail {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
