.containerHeader {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

@media (max-width: 576px) {
  .containerHeader {
    max-height: 200px;
    flex-direction: column;
  }
  .navBar {
    padding: 0px;
    margin-right: 10px;
  }
  .logo {
    align-items: stretch;
  }
  li {
    padding: 10px;
  }
}

ul {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 448px;
}

li {
  padding: 5px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li:hover {
  background-color: #e9e9e9;
  opacity: 0.9;
  border-radius: 10px;
}

.logo {
  max-width: 110px;
  height: auto;
  margin-top: 10px;
}

.icons {
  width: 35px;
  height: 35px;
  padding: 10px 10px 0px 10px;
}
.navBar {
  margin: 0 auto;
}
