.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

@media (max-width: 576px) {
  .containerHeader {
    flex-direction: column;
  }
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
}

li:hover {
  background-color: #e9e9e9;
  opacity: 0.9;
  border-radius: 10px;
}

.logo {
  max-width: 70px;
  height: auto;
  cursor: pointer;
}

.logo:hover {
  background-color: #e9e9e9;
  opacity: 0.9;
  border-radius: 10px;
}

.icons {
  width: 25px;
  height: 25px;
  padding: 10px 10px 0px 10px;
}
.navBar {
  margin: 0 auto;
  display: flex;
}

.lineSlim {
  width: 80%;
  margin: 0 auto;
  color: black;
  opacity: 0.3;
}
