html {
  font-family: 'Bebas Neue', cursive;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 26px;
  font-weight: 200;
  color: #000;
}

a {
  text-decoration: none;
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: 300;
}


img {
  max-width: 100%;
  display: block;
}
