.bannerContainer {
  width: 100%;
  max-width: 928px;
  margin: 0 auto;
  margin-top: 20px;
}

.bannerContainer h2 {
  width: 90%;
  height: 0px;
  margin: 0 auto;
}

.bannerContainer img:nth-child(2) {
  margin: 0 auto;
  max-width: 452px;
}

@media (max-width: 768px) {
  .bannerContainer {
    display: none;
  }
}
